.b-tab {
    display: none;
  }
  
.b-tab.active {
    display: block;
}

.nav-link.active {
    color: #0d6efd !important;
}

.card {
    overflow: hidden;
    border-radius: 14px;
}

hr {
    opacity: 0.1;
}

#mint-nft-status {
    vertical-align: top;
    margin-top: 11px;
}